body {
  margin: 0;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 25px;
}

.contact-card {
  flex-basis: 250px;
  margin: 20px;
}

.contact-card > img {
  width: 100%;
  height: auto;
}

.contact-card > h3 {
  text-align: center;
}

.contact-card > p {
  font-size: 12px;
}
.contact-card > button {
  background-color: lightskyblue;
}

.whish {
  margin-left: 5px;
}
